* {
  font-family: "Comfortaa", cursive;
}
html,
body {
  position: relative;
  height: 100vh;
  width: 100%;
  padding: 0px 0px 0px 0px !important;
  margin: 0px 0px 0px 0px !important;
  background-color: #f8f9fa;
}
h1 {
  color: #ff9e1e;
  font-weight: bold;
}
h1,
h2 {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}
.btn-group {
  width: 100%;
}
-fab {
  font-size: 1.8em;
}
/*--- FORMATO DE FONDOS ---*/
.container-fluid,
.row,
.searchElements,
.btn,
.card-body,
.card-footer,
.destacadosCardtitle,
.card-title,
.destacadosIconsNumber,
.icardDestacadosContact {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.viewSection {
  height: auto;
  width: 100%;
}
.viewRow {
  height: auto;
  width: auto;
  margin-top: 30px;
}
.sectionDivider {
  border-top: solid 5px #ff3547;
  border-radius: 50% 20% / 10% 40%;
}
/*------ NAV ------*/
.scrolling-navbar {
  /*background: rgba(0, 0, 0, 0.652) !important;*/
  border-bottom: 1px solid #0389c5;
  background: rgba(0, 0, 0, 0.659);
}
.top-nav-collapse {
  background: rgb(255, 255, 255) !important;
}
.top-nav-collapse .nav-link {
  color: #000000 !important;
}
.top-nav-collapse .nav-link:hover {
  color: #ff3547 !important;
  font-weight: 700 !important;
  /*font-size: 16px !important;*/
}
/*.top-nav-collapse,
.animated-icon1 span {
  background: rgb(0, 75, 116) !important;
}*/
.nav-link {
  font-size: 15px !important;
  font-weight: 500 !important;
  transition: 0.4s !important;
  letter-spacing: 0px;
  color: #ffffff !important;
  /*font-weight: bolder !important;*/
}
.nav-link:hover {
  color: #ff3547 !important;
  font-weight: 700 !important;
}

/*--- SEARCH BOX ---*/
.searchBox {
  border-radius: 20px;
  /*background: rgba(0, 0, 0, 0.659);*/
  width: 70vw !important;
  z-index: 5 !important;
  padding: 15px 15px;
}
.searchTile {
  color: white;
}
.searchCode,
.card-text {
  font-size: 13px !important;
  text-align: left !important;
}
.destacadosIcons {
  font-size: 1em;
  color: #ff3547;
}

.destacadosIconsNumber {
  color: black;
  font-weight: bold;
  font-size: 10px;
}
.icardDestacadosContact {
  color: rgb(106, 106, 106) !important;
  transition: 0.8s;
  font-size: 1em;
}

.overlayBox {
  /*background: rgba(255, 255, 255, 0.904);*/

  box-shadow: 0px 3px 8px rgb(0, 0, 0);

  /*top: 30vh !important;
  height: min-content !important;
  width: auto !important;*/
}
.form-select-sm {
  cursor: pointer;
  height: 30px;
  font-size: 12px !important;
}

/*--- SEARCH BOX ---*/

/*--- HAMBURGER ---*/
.animated-icon1,
.animated-icon2,
.animated-icon3 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.animated-icon1 span,
.animated-icon2 span,
.animated-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.animated-icon1 span {
  /*background: rgb(0, 75, 116);*/
  background: #ff3547 !important;
}
.animated-icon1 span:nth-child(1) {
  top: 0px;
}
.animated-icon1 span:nth-child(2) {
  top: 10px;
}
.animated-icon1 span:nth-child(3) {
  top: 20px;
}
.animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}
.animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
/*--- HAMBURGER ---*/
/*--- SOCIAL ICONS ---*/
.nav-flex-icons {
  display: none !important;
}

.fa-facebook,
.fa-facebook-messenger {
  /*color: #3B5998;*/
  /* color: rgb(153, 153, 153) !important;
  transition: 0.8s;
  font-size: 1.7em;*/
}
.fa-facebook:hover,
.fa-facebook-messenger:hover {
  /*color: rgb(8, 89, 124) !important;*/
  /*text-shadow: 1px 1px 3px white !important;*/
}
.fa-whatsapp-square {
  /* color: rgb(153, 153, 153) !important;
  transition: 0.8s;
  font-size: 1.7em;*/
}
.fa-whatsapp-square:hover {
  /*color: rgb(0, 170, 68) !important;*/
  /*text-shadow: 1px 1px 8px white !important;*/
}
.fa-phone-volume {
  /* color: rgb(153, 153, 153) !important;
  transition: 0.8s;*/
}
.fa-phone-volume:hover {
  /*color: rgb(177, 109, 0) !important;*/
}

/*--- SOCIAL ICONS ---*/
/*------ NAV ------*/
/*------ HERO ------*/
.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.arrowStyle {
  z-index: 10 !important;
}
.section1 {
  box-shadow: 0px 3px 8px rgb(0, 0, 0);
}

/*------ HERO ------*/

/*------ DESTACADOS ------*/
.card:hover {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.405);
}
.destacadosCardtitle {
  color: #ffffff;
  border-radius: 2px;
  /*background: rgba(0, 0, 0, 0.659);*/
  width: 100% !important;
  z-index: 5 !important;
  padding: 7px 7px;
}
.card-title {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 3px;
}
.icardDestacados {
  padding: 0px 7px 0px 7px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  outline: #ff3547;
  background-color: rgba(0, 0, 0, 0.802);
  border-radius: 50%;
  border: 1px solid #ff3547;
}
.badgeDestacadosTipo {
  position: absolute;
  z-index: 2;
  margin: 5px;
  left: 0px !important;
  font-size: 8px;
  padding: 5px 30px 5px 30px;
  border-radius: 10px 100px / 120px;
  color: #ffffff;
  font-weight: 800;
  letter-spacing: 1px;
}
.badgeDestacadosCiudad {
  position: absolute;
  z-index: 2;
  margin: 5px;
  left: 0px !important;
  top: 25px;
  font-size: 8px;
  padding: 3px 10px 3px 10px;
  border-radius: 10px 100px / 120px;
  color: #000000;
  font-weight: 800;
  letter-spacing: 1px;
  background-color: #ffffff !important;
}
.badgeDestacadosInfo {
  border: 1px solid #d0cece;
  padding: 5px 10px;
  border-radius: 50%;
  color: #d0cece;
  background-color: #1266f1;
  font-size: 0.7em !important;
}
.fa-info:hover {
  border: 2px solid #ffffff;
  color: #ffffff;
}
/*------ DESTACADOS ------*/

/*------ MODALS ------*/
.modal-content {
  padding: 0px 0px 0px 0px !important;
  margin: 0px 0px 0px 0px !important;
  background-color: #f1f1f1;
}
/*------ MODALS ------*/

/*------ FOOTER ------*/
.SocialIconsFooter {
  font-size: 1em;
  color: #a5a5a5;
  background-color: #2b2b2b;
}
.SocialIconsFooter:hover {
  color: #1266f1;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.405);
}

/* JQUERIES*/
/* Small devices (landscape phones, 576px and up)*/
@media only screen and (max-width: 575.98px) {
}

/* Medium devices (tablets, 768px and up)*/
@media only screen and (max-width: 820px) {
  .navbar-brand {
    position: absolute;
    width: 150px !important;
    right: 10%;
  }
  .first-button {
    position: absolute;
    vertical-align: middle !important;
    left: 0%;

    /*top: 22%;*/
  }
  .nav-link {
    color: #504f4f !important;
  }
  .nav-link:hover {
    color: #b8b8b8 !important;
  }
  #navbarSupportedContent {
    position: absolute;
    top: 57px !important;
    left: 0px;
    width: 100vw !important;
    height: 100vh !important;
    /*background: #ffffff  !important ;*/
    background: rgba(255, 255, 255, 0.904) !important;
  }
  .nav-flex-icons {
    display: block !important;
  }
  .scrolling-navbar {
    height: 58px;
  }
}
/* Large devices (desktops, 992px and up)*/
@media only screen and (max-width: 991.98px) {
  .hero .container {
    top: 5%;
  }
}
@media (max-width: 1200px) {
  .no-ca-mi-vi {
    margin-bottom: 5vh;
  }
}
/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .nav-link {
    font-size: 2vmin !important;
  }
  h1 {
    font-size: 6vmin !important;
  }
  h2 {
    font-size: 4vmin !important ;
  }
  h3 {
    font-size: 3.5vmin !important ;
  }
  .botonCaption {
    font-size: 4vmin !important;
  }
}
